# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

help/en_US/master_help.xml
help/en_US/scilab_en_US_help/
help/fr_FR/master_help.xml
help/fr_FR/scilab_fr_FR_help/
jar/
loader.sce
locales/en_US/
locales/fr_FR/
macros/lib
macros/names
macros/scilab_error.bin
macros/scilab_sum.bin
sci_gateway/c/Makelib.mak
sci_gateway/c/cleaner.sce
sci_gateway/c/loader.sce
sci_gateway/c/skeleton_c.c
sci_gateway/c/skeleton_c.def
sci_gateway/c/skeleton_c.exp
sci_gateway/cleaner_gateway.sce
sci_gateway/cpp/Makelib.mak
sci_gateway/cpp/cleaner.sce
sci_gateway/cpp/loader.sce
sci_gateway/cpp/skeleton_cpp.c
sci_gateway/cpp/skeleton_cpp.def
sci_gateway/cpp/skeleton_cpp.exp
sci_gateway/fortran/Makelib.mak
sci_gateway/fortran/cleaner.sce
sci_gateway/fortran/loader.sce
sci_gateway/fortran/skeleton_fortran.c
sci_gateway/fortran/skeleton_fortran.def
sci_gateway/fortran/skeleton_fortran.exp
sci_gateway/loader_gateway.sce
src/c/Makelib.mak
src/c/cleaner.sce
src/c/libcsum.def
src/c/libcsum.exp
src/c/loader.sce
src/fortran/Makelib.mak
src/fortran/cleaner.sce
src/fortran/libfsum.def
src/fortran/libfsum.exp
src/fortran/loader.sce
src/java/cleaner.sce
src/java/loader.sce
unloader.sce
cleaner.sce